{% extends "./layout.html" %}

{% block content %}
    <section class="row">
    {% if users.length === 0 %}
    <section class="container">
      <p class="alert alert-warning">No users left.</p>
    </section>
    {% endif %}

    {% for user in users %}
      <div class="col-md-3">
        <div class="panel panel-default" style="min-height: 300px">

        <!-- panel head -->
          <div class="panel-heading">
            <p>{{ user.name }}</p>
            <form action="/users/{{ user.id }}?_method=DELETE" method="POST">
              <button class="btn btn-danger btn-sm">Delete</button>
            </form>
          </div>

        <!-- panel body start -->
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <form action="/users/{{ user.id }}/awards" method="POST">
                <button class="btn btn-primary btn-sm">Create an award</button>
              </form>
            </li>

          <!-- awards section  -->
          {% if awards %}
            <li>
            {% include "./_awards.html" %}
            </li>
          {% endif %}

          <!-- mentor section -->
          {% if mentors.length %}
            <li>
            {% include "./_mentor.html" %}
            </li>
          </ul>
          {% endif %}
        </div>
        </div>
      </div>
    {% endfor %}

    </section>
{% endblock %}
