{% extends "./layout.html" %}

{% block content %}
  <section class="row">
    {% for user in users %}
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>{{ user.name }}</p>
            <button class="btn btn-danger btn-sm">Delete</button>
          </div>
        <div class="panel-body">

          <ul class="list list-unstyled">
            <li class="list-item">
              <button class="btn btn-primary btn-sm">Create an award</button>
            </li>
          {% if user.has_mentor %}
            <li class="list-item label label-default">Mentored by: TK</li>
            <li class="list-item">
              <form action="" method="POST">
                <button class="btn btn-warning">Remove Mentor</button>
              </form>
            </li>
          {% else %}
            <form action="" method="POST" class="well">
              <div class="form-group">
                <select class="form-control">TK</select>
              </div>
              <button class="btn btn-primary btn-sm">Set Mentor</button>
            </form>
          {% endif %}

          {% if user.awards %}
            <ul class="list">
              {% for award in awards %}
                <li class="list-item">
                  <p>{{ award.content }}</p>
                  <form action="" method="POST">
                    <button class="btn btn-warning btn-xs">Delete Award</button>
                  </form>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
